{% extends 'telefang/_base.html' %}

{% set denjuu_list = object %}

{% block content %}
    <h2>Denjuu</h2>
    <ul>
        <!--
        {% for denjuu in denjuu_list %}
            <li>
                <img src="{{ url_for('telefang.static', filename='gfx/denjuu/{}.png'.format(denjuu.id)) }}">
                <a href="/telefang/denjuu/{{ denjuu.id }}">
                    #{{ denjuu.id }} {{ denjuu.name }}
                </a>
        {% endfor %}
        -->
    </ul>
    
    {{ object | table(path=path, columns="number pic name type".split()) }}
{% endblock %}
