{% extends 'telefang/_base.html' %}
{% from 'object.html' import show_object with context %}

{% set denjuu = object %}

{% block content %}
    <p><i>[todo breadcrumb]</i>
    <p><i>[todo prev/next]</i>
    <h2>Denjuu #{{id}} {{ link_denjuu(id) }}</h2>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <h5 class="card-header">Base stats</h5>
                <ul class="list-group list-group-flush">
                    {% set base_stat_names = {
                        "hp": "HP",
                        "speed": "Speed",
                        "attack": "Attack", 
                        "defense": "Defense", 
                        "denma_attack": "Denma Attack", 
                        "denma_defense": "Denma Defense"
                    } %}
                    {% for name in base_stat_names %}
                        {% set stat = denjuu.base_stats[name] %}
                        {% set level_influence = denjuu.level_influence[name] %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    <strong>{{base_stat_names[name]}}</strong>
                                </div>
                                <div class="col-2">
                                    {{stat}} (+{{level_influence}})
                                    <!-- TODO lv. 100 stats -->
                                </div>
                                <div class="col-6">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{100*(stat/g.telefang.max_stat)}}%"></div>
                                        <div class="progress-bar bg-warning" style="width: {{100*(level_influence/g.telefang.max_stat)}}%"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <img src="{{ url_for('telefang.static', filename='gfx/denjuu/{}.png'.format(id)) }}" class="pic">
            <div class="card">
                <table class="table">
                    <thead class="card-header">
                        <tr><td>Move</td><td>Level</td></tr>
                    </thead>
                    <tbody>
                        <tr><td>{{ show_object(denjuu.moves[0]) }}</td><td>-</td></tr>
                        <tr><td>{{ denjuu.moves[1] }}</td><td>-</td></tr>
                        <tr><td>{{ denjuu.moves[2] }}</td><td>{{ denjuu.move_learn_levels[0] }}</td></tr>
                        <tr><td>{{ denjuu.moves[3] }}</td><td>{{ denjuu.move_learn_levels[1] }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p><span class="badge badge-primary">Natural</span>
            {% if denjuu.evolution.level %}
                Evolves to {{ link_denjuu(denjuu.evolution.denjuu.id) }} at lv. {{ denjuu.evolution.level }}.
            {% else %}
                Does not naturally evolve.
            {% endif %}
            
            {% for i in range(2) %}
                {% set item = denjuu.evolutions['items'][i] %}
                {% set denjuu_evo = denjuu.evolutions.denjuu[i] %}
                {% if item != 255 %}
                    <p><span class="badge badge-primary">Mod/DNA</span>
                    Evolves to {{ link_denjuu(denjuu_evo.id) }} using {{ item }}.
                {% endif %}
            {% endfor %}
        </div>
    </div>
        
    <p>Raw data:
    <pre>
{{ pformat(denjuu) }}
    </pre>
{% endblock %}
