{% set abbrs = {
    'pri': 'Priority/slowness.  Lower value = moves earlier in the turn',
    'flip': 'Defense against Flipendo and Wingadium Leviosa',
    'vermi': 'Defense against Vermillious',
    'verdi': 'Defense against Verdimillious',
    'ince': 'Defense against Incendio'
} %}

{% macro inline(object) %}
    <div style='
        display: inline-block;
        background-image: url("https://sanqui.net/etc/hp1/enemies/enemy_{{ object.num+1 }}.png");
        height: 24px;
        width: 32px;
        background-position: -33px -48px;'>
    </div>
{% endmacro %}

{% macro thead(object, path, root) %}
    <th>#</th>
    <th>pic</th>
    {% for param in object[0] %}
        <th>
            {% if param in abbrs %}
                <abbr title="{{abbrs[param]}}">
                    {{ param }}
                </abbr>
            {% else %}
                {{ param }}
            {% endif %}
        </th>
    {% endfor %}
{% endmacro %}

{% macro trow(i, object, url, path, root) %}
    <td><a href="{{ url }}">{{i}}</a></td>
    <td style='
        background-image: url("https://sanqui.net/etc/hp1/enemies/enemy_{{ object.num+1 }}.png");
        height: 24px;
        background-position: -33px -48px;'>
    </td>
    {% for value in object.values() %}
        <td>{{ value | inline }}</td>
    {% endfor %}
{% endmacro %}

{% macro block(object, path) %}
    {% set enemy = object %}
    <div class="row mb-4">
        <div class="col-md-2">
            <div class="card">
                <h5 class="card-header">Image</h5>
                <div class="row card-body text-center">
                    <div style='
                        background-image: url("https://sanqui.net/etc/hp1/enemies/enemy_{{ object.num+1 }}.png");
                        height: 100px;
                        width: 100px;
                        background-position: -33px 0px;
                        margin: auto;
                        margin-bottom: 12px;'>
                    </div>
                    <div>
                        <small class="text-muted">This sprite will hopefully be improved in the future.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card">
                <h5 class="card-header">Basic data and stats</h5>
                <dl class="row card-body">
                    {% macro row(attr, text, color=None, info=None, value=None, barvalue=None, max=None) %}
                        {% if value == None %} {% set value = enemy[attr] %} {% endif %}
                        {% if barvalue == None %} {% set barvalue = value %} {% endif %}
                        <dt class="col-4">
                            {{ text }}
                            {% if info != None %}
                                <span class="text-info"
                                    data-toggle="tooltip" data-placement="top" title="{{ info }}">🛈</span>
                            {% endif %}
                        </dt>
                            {% if not max %}
                                <dd class="col-8">{{ value | inline }}</dd>
                            {% else %}
                                <dd class="col-8 row">
                                    <div class="col-4">{{ value }}</div>
                                    <div class="col-8">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-{{attr}}"
                                                style="
                                                    width: {{100*(barvalue/max)}}%;
                                                    {% if color %}
                                                        background-color: {{color}};
                                                    {% endif %}
                                                "></div>
                                        </div>
                                    </div>
                                </dd>
                            {% endif %}
                    {% endmacro %}
                    {{ row("num", "Battler ID") }}
                    {{ row("hp", "HP", max=600, color="darkblue") }}
                    {{ row("mp", "MP", max=1) }}
                    {{ row("str", "Strength", max=255, color="red") }}
                    {{ row("pri", "Priority", max=255, color="grey") }}
                    {{ row("pri", "Agility", value=150-enemy.pri, barvalue=255-enemy.pri, max=255, color="#b4b44f",
                        info="Agility is calculated from Priority using the formula 150-priority.") }}
                    {{ row("flip", "Physical defense", max=255, color="#0063ff",
                        info="Physical defense is used against the Flipendo and Wingadium Leviosa spells.") }}
                    {{ row("vermi", "Vermillious defense", max=255, color="#ce0000") }}
                    {{ row("verdi", "Verdimillious defense", max=255, color="#007300") }}
                    {{ row("ince", "Incendio defense", max=255, color="#412356") }}
                    {{ row("psn1", "Poison value 1",
                        info="We don't know what these values mean exactly, but they seem to be only used by enemies which can poison you.") }}
                    {{ row("psn2", "Poison value 2") }}
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Rewards</h5>
                <dl class="row card-body">
                    {{ row("exp", "Experience points") }}
                    {% set sickles = "{} – {}".format(enemy.sickles, enemy.sickles+enemy.sickles_rnd-1) %}
                    {{ row("sickles", "Sickles", value=sickles, info="This range is inclusive.") }}
                    {{ row("item_drop", "Item drop",
                        info="The chance for an item drop is 1/4 for each enemy.") }}
                </dl>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Unknown values</h5>
                <div class="card-body">
                    <dl class="row">
                        {{ row("unk1", "Unknown value 1") }}
                        {{ row("unk2", "Unknown value 2") }}
                    </dl>
                    <p class="text-muted">We don't know what these values are used for yet.  More research is needed!</p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
