{% set abbrs = {
    'pri': 'Priority/slowness.  Lower value = moves earlier in the turn',
    'flip': 'Defense against Flipendo and Wingadium Leviosa',
    'vermi': 'Defense against Vermillious',
    'verdi': 'Defense against Verdimillious',
    'ince': 'Defense against Incendio'
} %}

{% macro inline(object) %}
    <div style='
        display: inline-block;
        background-image: url("https://sanqui.net/etc/hp1/enemies/enemy_{{ object.num+1 }}.png");
        height: 24px;
        width: 32px;
        background-position: -33px -48px;'>
    </div>
{% endmacro %}

{% macro thead(object, path, root) %}
    <th>#</th>
    <th>pic</th>
    {% for param in object[0] %}
        <th>
            {% if param in abbrs %}
                <abbr title="{{abbrs[param]}}">
                    {{ param }}
                </abbr>
            {% else %}
                {{ param }}
            {% endif %}
        </th>
    {% endfor %}
{% endmacro %}

{% macro trow(i, object, url, path, root) %}
    <td><a href="{{ url }}">{{i}}</a></td>
    <td style='
        background-image: url("https://sanqui.net/etc/hp1/enemies/enemy_{{ object.num+1 }}.png");
        height: 24px;
        background-position: -33px -48px;'>
    </td>
    {% for value in object.values() %}
        <td>{{ value | inline }}</td>
    {% endfor %}
{% endmacro %}

{% macro block(object, path) %}
    <div class="row">
        <div class="col-2">
            Rudimentary sprite rip:<br>
            <div style='
                background-image: url("https://sanqui.net/etc/hp1/enemies/enemy_{{ object.num+1 }}.png");
                height: 100px;
                width: 100px;
                background-position: -33px 0px;'>
            </div>
        </div>
        <div class="col-10">
            {{ object | block(view='auto') }}
        </div>
    </div>
{% endmacro %}
