{% macro block(object, path=None, in_list=False, depth=0, max_depth=5,  first=False, last=False, root=None, show_types=True) %}
    {% if isinstance(object, dmgfx.Palette) %}
        <div class="d-flex flex-row" style="display: inline-block;">
            {% for i, color in enumerate(object) %}
                {{ color | block(path + [i], in_list=True, first=loop.first, last=loop.last, root=root) }}
            {% endfor %}
        </div>
    {% elif isinstance(object, dmgfx.RGBColor) %}
        <div class="p-2 {% if first %}border-top border-left border-bottom{% elif last %}border-top border-right border-bottom{% else %}border-top border-bottom{% endif %}"
            style="display: inline-block; width: 32px; height: 32px;
            background-color: {{object.hex}};"></div>
    {% elif isinstance(object, dmgfx.Image) or isinstance(object, dmgfx.Tileset) and hasattr(object, '_filename'): %}
        <img src="{{ url_for(root+'.static', filename=object._filename) }}">
    {% elif isinstance(object, dmgfx.Tile) and hasattr(object, '_filename') %}
        <img src="{{ url_for(root+'.static', filename=object._filename) }}">
    {% elif isinstance(object, dmtypes.String) %}
        {% for token in object -%}
            {%- if isinstance(token, str) -%}
                {{- token -}}
            {%- elif isinstance(token, dmtypes.Terminator) -%}
                
            {%- else -%}
                <span class="text-info">{{ token }}</span>
            {%- endif -%}
        {%- endfor %}
    {% elif isinstance(object, dict) %}
        {% if not in_list %}
        <div class="card">
        {% endif %}
            <dl class="row card-body mb-0">
                {% for key, value in object.items() %}
                    {% set obj_url = None %}
                    {% if path != None %}
                        {% set obj_url = url_for(root+'.object',
                                  path=pathjoin(path + [key]))  %}
                    {% endif %}
                    {% if not key.startswith("_") %}
                        <dt class="col-sm-3">
                            {% if obj_url %}
                                <a href="{{ obj_url }}"
                                  data-toggle="tooltip" data-placement="top" title="&lt;{{ type(value).__name__ }}&gt;">
                                    {{ key }}
                                </a>
                            {% else %}
                                <span data-toggle="tooltip" data-placement="top" title="&lt;{{ type(value).__name__ }}&gt;">
                                    {{ key }}
                                </span>
                            {% endif %}
                            {% if isinstance(value, dmtypes.Struct) or isinstance(value, dmtypes.Array) and not isinstance(value, dmtypes.String) %}
                                {% if show_types %}
                                    <br><small class="text-muted">&lt;{{ type(value).__name__ }}&gt;</small>
                                {% endif %}
                            {% endif %}
                        </dt>
                        <dd class="col-sm-9">
                            {% if depth >= max_depth %}
                                {% if obj_url %}
                                    <a href="{{ obj_url }}">...</a>
                                {% else %}
                                    ...
                                {% endif %}
                            {% else %}
                                {{ value | block(path=path + [key] if path else None, depth=depth+1, max_depth=max_depth, root=root) }}
                            {% endif %}
                        </dd>
                    {% endif %}
                {% endfor %}
            </dl>
        {% if not in_list %}
        </div>
        {% endif %}
    {% elif isinstance(object, type([])) %}
        {% if getattr(object._child_type, "_char", False) %} {# XXX #}
            {{ str(object) }}
        {% else %}
            {% if object | makes_a_good_table(path=path, root=root) %}
                {{ object | table(path=path, root=root) }}
            {% elif issubclass(object._child_type, dmgfx.Image) or issubclass(object._child_type, dmgfx.Tileset) %}
                {% for i, value in enumerate(object) %}
                    <a {% if path != None %}href="{{ url_for(root+'.object',
                      path=pathjoin(path + [i])) }}"{% endif %}>
                        {{ value | inline_block }}
                    </a>
                {% endfor %}
            {% else %}
                {% if depth >= max_depth %}
                    ...
                {% else %}
                    <ul class="list-group position-relative">
                        {% set show = 5 if (depth and len(object) > 5) else len(object) %}
                        {% for i, value in enumerate(object[:show]) %}
                            <li class="list-group-item">
                                <a {% if path != None %}href="{{ url_for(root+'.object',
                                  path=pathjoin(path + [i])) }}"{% endif %}
                                  class="position-absolute" style="left: 0px; top: -12px;">
                                    <span class="badge  badge-pill">{{i}}</span>
                                </a>
                                {% if value != None and object._child_type.__name__ != type(value).__name__ and not isinstance(value, dmtypes.ForeignKey) and show_types %}
                                    <strong>{{ type(value).__name__ }}</strong>
                                {% endif %}
                                {{ value | block(path=path + [i] if path != None else None,  in_list=True, depth=depth+1, max_depth=max_depth, root=root) }}
                                {% if isinstance(value, dmtypes.ForeignKey) and show_types %}
                                    <small class="text-muted">&lt;{{ type(value).__name__ }}&gt;</small>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% if show == 5 and len(object) > 5 %}
                            <details>
                                <summary>{{ len(object)-show }} more items...</summary>
                                {% for i, value in enumerate(object[show:]) %}
                                    <li class="list-group-item">
                                        <a {% if path != None %}href="{{ url_for(root+'.object',
                                          path=pathjoin(path + [i+show])) }}"{% endif %}
                                          class="position-absolute" style="left: 0px; top: -12px;">
                                            <span class="badge  badge-pill">{{i+show}}</span>
                                        </a>
                                        {{ value | block(path=path + [i+show] if path != None else None,  in_list=True, depth=depth+1, max_depth=max_depth, root=root) }}
                                    </li>
                                {% endfor %}
                            </details>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endif %}
        {% endif %}
    {% elif isinstance(object, dmtypes.ForeignKey) %}
        {% set fpath = list(object._field_name) + [object._key] %}
            {% if depth <= max_depth and not hasattr(object._object, "name") %}
                {{ object._object | block(path=fpath, depth=depth+1, max_depth=max_depth, root=root) }}
            {% else %}
                {{ object | inline }}
            {% endif %}
    {% elif isinstance(object, dmtypes.B1) and object._num_bits == 1 %}
        {{ object | inline }}
    {% else %}
        {{ object }}
    {% endif %}
{% endmacro %}

{% macro table(object, columns, path, root, thead_macro=None, trow_macro=None) %}
    <table class="table table-striped">
        <thead>
            {% if thead_macro %}
                {{ thead_macro(object, path, root) }}
            {% else %}
                <tr>
                    <th scope="col">#</th>
                    {% for name in columns %}
                        <th scope="col">
                            {{ name }}
                        </th>
                    {% endfor %}
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for i, row in enumerate(object) %}
                <tr>
                    {% set url = "" %}
                    {% if path != None %}
                        {% set url = url_for(root+'.object', path=pathjoin(path + [i])) %}
                    {% endif %}
                    {% if thead_macro %}
                        {{ trow_macro(i, row, url, path, root) }}
                    {% else %}
                            <th scope="row">
                                <a {% if path != None %}href="{{ url_for(root+'.object',
                                          path=pathjoin(path + [i])) }}">{% endif %}
                                    {{ i }}
                                </a>
                            </th>
                            {% for name in columns %}
                                <td>
                                    {% if isinstance(columns, dict) %}
                                        {% if columns[name] == "block" %}
                                            {{ getattr(row, name) | block }}
                                        {% endif %}
                                    {% else %}
                                        {{ getattr(row, name) | inline }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro breadcrumb() %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url_for(root+'.index') }}">{{ root }}</a>
                </li>
            {% for i, segment in enumerate(path) %}
                <li class="breadcrumb-item {% if loop.last %}active{% endif %}">
                    <a href=" {{ url_for(root+'.object', path=pathjoin(path[:i+1])) }} ">{{ segment }}</a>
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}
{% macro prevnext() %}
    {% if prev != None or next != None %}
        <nav aria-label="...">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item {% if prev == None %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for(root+'.object', path=pathjoin(path[:-1] + [index-1])) }}" tabindex="-1">
                        {% if prev != None %}
                            #{{ index-1 }}
                            {{ prev | inline }}
                        {% else %} - {% endif %}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link">
                        #{{ index }}
                        {{ object | inline }}
                    </a>
                </li>
                <li class="page-item {% if next == None %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for(root+'.object', path=pathjoin(path[:-1] + [index+1])) }}">
                        {% if next != None %}
                            #{{ index+1 }}
                            {{ next | inline }}
                        {% else %} - {% endif %}
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endmacro %}
