{% extends '_base.html' %}

{% block content %}
    <h1>What is VGAtlas?</h1>
    <p><i>TODO a catchy blurp.</i>  VGAtlas is curated, comprehensive, & reproducible on every game, it contains data, images, text dumps, (maybe) screenshots.  Ever needed to look something up or cite it?  No longer you're using google images or listening to potato let's players, just look it up on vgatlas
    <h2>Games</h2>
    <p><i>TODO games should be in rectangle boxes wide as the screen, with the game logo and BG.</i>
    <ul>
        <li><a href="/ff1">Final Fantasy 1</a>
        <li><a href="{# url_for('telefang.index') #}/telefang">Keitai Denjuu Telefang</a>
        <li><a href="/pokered">Pokémon Red</a>
    </ul>
{% endblock %}
