{% extends base_template %}

{% block content %}
    
    {{ prevnext() }}
    
    <h2>
        {% if index %}#{{index}}{% endif %}
        {{ object | inline }}
        <small class="text-muted">&lt;{{ type(object).__name__ }}&gt;</small>
    </h2>
    
    <ul class="nav nav-tabs justify-content-end">
        {% for v in views %}
            <li class="nav-item">
                <a class="nav-link {% if v == view %}active{% endif %}" href="?view={{v}}">
                    {{ v.capitalize() }} view
                </a>
            </li>
        {% endfor %}
    </ul>
    
    {% if view != 'raw' %}
        {{ object | block(path, view=view) }}
    {% else %}
    
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <h5 class="card-header">Object information</h5>
                    <dl class="row card-body">
                        <dt class="col-3">Path</dt>
                            <dd class="col-9">{{ object._path }}</dd>
                        <dt class="col-3">Type</dt>
                            <dd class="col-9">{{ type(object).__name__ }}</dd>
                        <dt class="col-3">Address</dt>
                            <dd class="col-9">{{ getattr(object, '_address', '-') }}</dd>
                        <dt class="col-3">Size</dt>
                            <dd class="col-9">{{ getattr(object, '_size', '-') }}</dd>
                        <dt class="col-3">Pointer</dt>
                            <dd class="col-9">{{ getattr(object, '_pointer', '-') }}</dd>
                    </dl>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <h5 class="card-header">Type information</h5>
                    <dl class="row card-body">
                        <dt class="col-3">Name</dt>
                            <dd class="col-9">{{ type(object).__name__ }}</dd>
                        <dt class="col-3">Repr</dt>
                            <dd class="col-9">{{ repr(type(object)) }}</dd>
                        <dt class="col-3">Bases</dt>
                            <dd class="col-9">{{ type(object).__bases__ }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <h3>repr:</h3>
        <pre>
{{ repr(object) }}
        </pre>
        <h3>_pretty_repr:</h3>
        <pre>
{{ object._pretty_repr() }}
        </pre>
    {% endif %}
{% endblock %}
