[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
datamijn = {git = "/home/sanqui/romhacking/datamijn/datamijn",ref = "0.4.17"}
watchdog = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
