[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
datamijn = {git="/home/sanqui/romhacking/datamijn/datamijn", "ref"="0.4.10"}

[dev-packages]

[requires]
python_version = "3.7"
