{% macro thead(object, path, root) %}
    <th>pic</th>
    <th>num</th>
    <th>name</th>
    <th>type</th>
    <th>moves</th>
{% endmacro %}

{% macro trow(i, denjuu, url, path, root) %}
    <td class="p-0" style="width: 52px;">{#{{ denjuu.pic | inline }}#}</td>
    <th scope="row" style="width: 52px;">
        <a {% if url %}href="{{ url }}"{% endif %}>
            {{ denjuu.num }}
        </a>
    </th>
    <td>{{ denjuu.name }}</td>
    <td>{{ denjuu.type | inline }}</td>
    <td>
        {% for move in denjuu.moves %}
            {{ move | inline }}{% if not loop.last %},{% endif %}
        {% endfor %}
    </td>
{% endmacro %}

{% macro block(object, path) %}
    {% set denjuu = object %}
    <h2>Denjuu #{{ denjuu.num }} {{ denjuu | inline }}</h2>
    <div class="row">
        <div class="col-8">
            <dl class="row">
                <dt class="col-2">Type</dt>
                <dd class="col-4">{{ denjuu.type | inline }}</dd>
            </dl>
            <div class="card">
                <h5 class="card-header">Base stats</h5>
                <ul class="list-group list-group-flush">
                    {% set base_stat_names = {
                        "hp": "HP",
                        "speed": "Speed",
                        "attack": "Attack", 
                        "defense": "Defense", 
                        "denma_attack": "Denma Attack", 
                        "denma_defense": "Denma Defense"
                    } %}
                    {% for name in base_stat_names %}
                        {% set stat = denjuu.base_stats[name] %}
                        {% set level_influence = denjuu.level_influence[name] %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    <strong>{{base_stat_names[name]}}</strong>
                                </div>
                                <div class="col-2">
                                    {{stat}} (+{{level_influence}})
                                    <!-- TODO lv. 100 stats -->
                                </div>
                                <div class="col-6">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{100*(stat/g.telefang.max_stat)}}%"></div>
                                        <div class="progress-bar bg-warning" style="width: {{100*(level_influence/g.telefang.max_stat)}}%"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="pic">
                {#
                    {{ denjuu.pic | block }}
                #}
                pic TODO (It worked before!)
            </div>
            <div class="card">
                <table class="table">
                    <thead class="card-header">
                        <tr><td>Move</td><td>Level</td></tr>
                    </thead>
                    <tbody>
                        <tr><td>{{ denjuu.moves[0] | inline }}</td><td>-</td></tr>
                        <tr><td>{{ denjuu.moves[1] | inline }}</td><td>-</td></tr>
                        <tr><td>{{ denjuu.moves[2] | inline }}</td><td>{{ denjuu.move_learn_levels[0] }}</td></tr>
                        <tr><td>{{ denjuu.moves[3] | inline }}</td><td>{{ denjuu.move_learn_levels[1] }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p><span class="badge badge-primary">Natural</span>
            {% if denjuu.evolution.level %}
                Evolves to {{ denjuu.evolution.denjuu | inline }} at lv. {{ denjuu.evolution.level }}.
            {% else %}
                Does not naturally evolve.
            {% endif %}
            
            {% for i in range(2) %}
                {% set item = denjuu.evolutions['items'][i] %}
                {% set denjuu_evo = denjuu.evolutions.denjuu[i] %}
                {% if item != 255 %}
                    <p><span class="badge badge-primary">Mod/DNA</span>
                    Evolves to {{ link_denjuu(denjuu_evo.id) }} using {{ item }}.
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <dl class="row">
        <dt class="col-2">Exp. items</dt>
        <dd class="col-10">
            {% for item in denjuu.exp_items['items'] %}
                {% if item.favorite %}
                    {{ item.item | inline }}, 
                {% endif %}
            {% endfor %}
        </dd>
        
        <dt class="col-2">Favorite item</dt>
        <dd class="col-10">
            {{ denjuu.exp_items.favorite_item | inline_block }}
        </dd>
    </dl>
        
    <p>Raw data:
    <pre>
{{ pformat(denjuu) }}
    </pre>
{% endmacro %}
