{% from '_macros.html' import item with context %}
{% extends 'pokered/_base.html' %}

{% set root = "pokered" %}

{% block content %}
    <h2>Pokémon Red</h2>
    Top-level menu
    <h3>Game objects</h3>
    <div class="list-group">
        {{ item('Pokémon', 'pokemon') }}
        {{ item('Moves') }}
        {{ item('Items') }}
        {{ item('TMs') }}
        {{ item('Types') }}
        {{ item('Trainer classes') }}
    </div>
    <h3>Miscellania</h3>
        {{ item('Growth rates') }}
        {{ item('Text') }}
    
    <details>
        <summary>
            <h3>Default listing</h3>
        </summary>
        {{ g.pokered | block(path=[], max_depth=0, root=root) }}
    </details>
{% endblock %}
